<div class="cwrap">
            <!-- header -->
            <div class="header header_thin">
                <div class="container">
                    <div class="header-title">
                        <h1 style="font-size: 1.8em;">QuickIO.NET provides an enhanced performance for file operations</h1>
                    </div>
                </div>
            </div>
            <div id="middle" class="cols2">
                <div class="container">
                    <div class="content " role="main">
                        {{content}}
                    </div>
                    {% include sidebar.html %}
            </div>
        </div>