        <div class="header_top">
            <div class="container">
                <a href="{{site.baseurl}}/">
                    <img src="{{site.baseurl}}/res/QuickIOLogoHead.png" height="50" style="float: left; margin-right: 20px; margin-top: 10px;" />
                </a>
                <div class="logo">
                    <h2>
                            <a href="{{site.baseurl}}/">QuickIO<span>.NET</span></a>
                    </h2> <a href="http://www.benjamin-abt.com/" target="_blank" style="font-size: 12px">
                        by Benjamin Abt
                    </a>
                </div>
                <div style="float:right;">
                    <ul class="dropdown">
                        <li class="menu-level-0"><a href="{{site.baseurl}}/"><span>Home</span></a></li>
                        <li class="menu-level-0"><a href="https://github.com/SchwabenCode/QuickIO" target="_blank"><span>Source</span></a></li>
                        <li class="menu-level-0"><a href="{{site.baseurl}}/Docs"" target="_blank"><span>Documentation</span></a></li>
                        <li class="menu-level-0">
                            <a href="{{site.baseurl}}/Examples"><span>Examples</span></a>
                            <ul class="submenu-2">
                                <li class="menu-level-2"><a href="{{site.baseurl}}/Examples/Jobs"><span>Jobs</span></a></li>
                                <li class="menu-level-2"><a href="{{site.baseurl}}/Examples/Observer"><span>Observer</span></a></li>
                                <li class="menu-level-2"><a href="{{site.baseurl}}/Examples/Services"><span>Services</span></a></li>
                            </ul>
                        </li>
                        <li class="menu-level-0"><a href="http://www.benjamin-abt.com" target="_blank"><span>Contact</span></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>