<div class="sidebar">
                        <div class="widget-container widget_categories">
                            <h3 class="widget-title">QuickIO.NET News</h3>
                            <a href="http://www.dotnetpro.de/articles/articlearchive1799.aspx" target="_blank"><img src="{{site.baseurl}}/images/dnp_082014.jpg" style="float:left;" /></a>
                            <p style="margin:10px; padding: 3px;">
                                In the copy 08/2014 of the developer magazine "dotnetpro" Fabian Deitelhoff writes about QuickIO.NET.
                                <br />He praises the professional implementation and recommends QuickIO.NET for your I/O tasks.
                            </p>
                            <p style="margin:10px;">
                                <a href="http://www.dotnetpro.de/articles/articlearchive1799.aspx" target="_blank">View dotnetpro</a>
                            </p>
                        </div>
                        <div class="widget-container widget_categories">
                            <h3 class="widget-title">Support QuickIO</h3>

                            <p style="margin:10px;">
                                When you have new ideas or found an error, so please use <a href="https://quickio.codeplex.com/discussions" target="_blank">QuickIO's CodePlex</a> site.
                            </p>
                            <p style="margin:10px;">
                                I reject financial support.<br />
                                Instead - if you want - please donate a small financial contribution to the <a href="http://www.tierheim-stuttgart.de" target="_blank">animal shelter of Stuttgart</a>.
                            </p>
                        </div>
                        <div class="widget-container widget_categories">
                            <h3 class="widget-title">Quick</h3>
                            <ul>
                                <li><a href="http://Quickio.NET/help" target="_blank"><span>Online Help <small>(Documentation)</small></span></a></li>
                                <li><a href="https://Quickio.CodePlex.com/discussions" target="_blank"><span>Discussions &amp; Feedback</span></a></li>
                                <li><a href="https://www.nuget.org/packages/QuickIO.NET/" target="_blank"><span>NuGet</span></a></li>
                                <li><a href="https://quickio.codeplex.com/" target="_blank"><span>CodePlex</span></a></li>
                            </ul>
                        </div>
                        <div class="widget-container widget_categories">
                            <h3 class="widget-title">Other Projects</h3>
                            <ul>
                                <li><a href="https://www.nuget.org/packages/MVCRouteCache/" target="_blank"><span>MVCRouteCache</span></a></li>
                                <li><a href="https://www.nuget.org/packages/SchwabenCode.EasySmtp/" target="_blank"><span>EasySMTP</span></a></li>
                                <li><a href="https://www.nuget.org/packages/SchwabenCode.MongoDBInfrastructure/" target="_blank"><span>MongoDB Infrastructure</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>