<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js" data-ng-app="QuickIO">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="QUickIO.NET, QuickIO, Performance, Ms-PL, Open Source, NuGet, Library, SchwabenCode, Benjamin Abt">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>QuickIO.NET - Project Homepage</title>
    <!-- Font -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <!-- main JS libs  -->

    <!-- Style CSS-->
    <link href="{{site.baseurl}}/res/style.css" media="screen" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/res/screen_1300.css" />

    <!-- custom CSS -->
    <link href="{{site.baseurl}}/res/custom.css" rel="stylesheet">
</head>

<body>
    <div class="body_wrap">
        {% include header.html %}
        {% include body.html %}
        {% include footer.html %}
    </div>
</body>
</html>